<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
  <ion-card color="light">

  
  <img class="icon" src="https://firebasestorage.googleapis.com/v0/b/epe3-77ed6.appspot.com/o/login.png?alt=media&token=1ee17127-23e0-43c9-a381-5f6f356e81d3" width="250" height="250" alt="">
  <ion-item>
    <ion-label position="floating"> Correo Electronico</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="onSubmitLogin()" expand="block">Entrar</ion-button>
</ion-card>
  
</ion-content>
  
