<ion-header>
  <ion-toolbar color="primary">
      <img src="https://firebasestorage.googleapis.com/v0/b/epe3-77ed6.appspot.com/o/Imagen2.png?alt=media&token=52e63a11-63ee-4db8-873a-d084956fe7dd" width="100" height="100" >
    
    <ion-title>
      MENÚ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="warning">


<ion-card>


<ion-button expand="full" (click)="IrLibros()">Libros</ion-button>
<ion-button expand="full" (click)="IrProveedores()">Proveedores</ion-button>
<ion-button expand="full" (click)="IrAutor()">Autores</ion-button>

<img src="https://firebasestorage.googleapis.com/v0/b/epe3-77ed6.appspot.com/o/blioteca.jpg?alt=media&token=ac7077f9-793d-4fbe-81a4-dc7aa632de40" width="200" height="200" >

</ion-card>


</ion-content>
